html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
html {
  box-sizing: border-box;
  margin: 50px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Averia Sans Libre', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131418;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error {
  color: red;
  font-size: 10px;
}

.inputError {
  border-color: red;
}

.App {
  text-align: center;
}

/* nav */
header {
  background-color: #131418;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
  margin: 0 auto;
}

h1 {
  margin-right: 20%;
  font-size: 2rem;
}

.navbar {
  color: #ffffff;
  text-decoration: none;
  margin: 0 auto 5%;
  width: 100%;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  margin: 0 3%;
}

@media (max-width: 600px) {
  header {
    width: 100%;
    margin: 0 auto 12%;
  }

  h1 {
    margin-right: 10%;
    font-size: 1.6rem;
  }

  a {
    margin: 0 2%;
    font-size: 1rem;
  }
}

/* card */
img {
  width: 50%;
}

h3 {
  font-size: 1.75rem;
  line-height: 2;
}

h4 {
  font-size: 1.5rem;
  line-height: 2;
}

@media (max-width: 550px) {
  img {
    width: 90%;
  }
}

.cardDiv {
  margin: 0 0 3%;
}

/* buttons */
.buttonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainButton {
  width: 24%;
  background-color: #ffffff;
  color: #131418;
  font-family: 'Averia Sans Libre', cursive;
  font-size: 2rem;
  margin: 0.5% 0.5% 2%;
  border-radius: 8px;
  line-height: 1.75;
  text-decoration: none;
  padding: 5px;
}

/* landing page */
.jumbotron h1 {
  margin-bottom: 2%;
}

.jumbotron h2 {
  margin-bottom: 2%;
}

.jumbotron p {
  margin: 2% 0;
  line-height: 1.25;
}

.nobutton {
  display: none;
}
.cardcorrect {
  filter: grayscale(100%) sepia(100%) hue-rotate(90deg);
}
.cardincorrect {
  filter: grayscale(100%) sepia(100%) hue-rotate(270deg);
}

.testpopup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
/*text*/
.testpopup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background-color: rgba(19, 20, 24, 0.8);
  border: 2px solid white;
}
.popuptext {
  color: Yellow;
  padding-top: 25%;
}

@media (max-width: 550px) {
  .mainButton {
    width: 90%;
  }
}

.addCelebForm {
  width: 25%;
  margin: 0 auto;
}

.addCelebForm_inner {
  display: flex;
  flex-direction: column;
}

.celebFormBtn {
  padding: 4%;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}
/* Game */
h2 {
  font-size: 2.5rem;
  margin: 1%;
}

/* Admin2 Login */
label {
  padding: 3%;
}

input {
  font-family: 'Averia Sans Libre', cursive;
  margin: 1%;
  text-align: center;
}

.login-button {
  width: 13%;
  background-color: #ffffff;
  color: #131418;
  font-family: 'Averia Sans Libre', cursive;
  font-size: 1.15rem;
  margin: 3% auto;
  border-radius: 8px;
  line-height: 1.1;
  text-decoration: none;
  padding: 5px;
}

/* Admin 2 */
h1 {
  margin: 0 auto;
}

.celeb-all-card {
  margin: 5% auto;
  width: 50%;
}

.celeb-all-card img {
  width: 100%;
}

.celeb-all-card h4 {
  line-height: 1.15;
  padding: 1.5% 0;
}

.celeb-alive {
  color: green;
}

.celeb-dead {
  color: red;
}

/* Footer */
footer {
  margin-top: 30%;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.75rem;
  padding: 0 4%;
}

/* error */
.error {
  font-family: 'Averia Sans Libre', cursive;
  font-size: 0.75rem;
  font-weight: bold;
}

/*AdminAlt*/
.AdminAlt {
  color: white;
  text-decoration: none;
  text-align: center;
}
